header {
    background-color: red;
}

a {
  color: white;
  text-decoration: none;
}

p {
  padding: 10px;
}

nav li {
  color: white;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}

#container {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
}

#landmarks {
  color: white;
  font-size: 200%;
  float: left;
}

#login {
  color: white;
  font-size: 125%;
  text-align: right;
  z-index: 1;
}

#internal_links {
  font-size: 125%;
  background-color: #2e3033;
  box-sizing: border-box;
  padding: 25px;
  text-align: right;
  width: 100%;
  position: relative;
}

#museum {
  float: left;
  width: 70%;
  height: auto;
  padding: 15px;
}

.art {
  display: inline-block;
  font-size: 125%;
  font-weight: bold;
  padding: 10px
}

.titles {
  display: inline-block;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  padding: 10px;
  float: center;
}

.paragraphs {
  float: left;
  width: 70%;
  padding: 10px;
}

.images {
  width: 20%;
  height: auto;
  /* padding-bottom: 20px; */
}

.right {
  padding: 15px
  float: right;
}

.footer {
  color: white;
  background-color: #2e3033;
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 15px;
  text-align: left;
}
